body{
    font-family: 'poppins'; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
   height:100vh;
 } 

 body
 {
     background-color:whitesmoke;
 }

 .container
 {
    border: 3px rgb(32, 30, 150)
 }




























/* body{
    text-align: center;
    font-family: 'poppins'; 
    background-position: center;
    background-repeat:repeat;
    background-size: contain;
    background-attachment: fixed;
    background-image: url('pattern.png');
    
    background-color:#e96443;
    background-blend-mode: soft-light;
    display: flex;
    justify-content: center;
    align-items: center;
   height:100vh;
   animation:move 5s infinite alternate ease;
    
 }
 @keyframes move {
     from{
background-position:left;
     }
     to{
        background-position:right;
     }
 } */